ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    width: 100%;
    background-color: #11c591;
}
li{
    float: right;
    border-right: 1px solid black;
}
li a{
    display: block;
    padding: 14px 16px;
}
li a:hover{
    color:black ;
}
.active{
    background-color: #028a63;
}
a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li a.header-name{
    float: left;
    padding-right: 655px;
}
.social-column{
    padding: 5px;
}
.social-row{
    display:table;
    margin-left: auto;
    margin-right: auto;
}
.project{
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.services{
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}